code/build
code/build/.vs/aipfg-ass1/v17/ipch/AutoPCH/94a16c292bb8f519/OPENAI-HELPER.ipch
code/build/.vs/aipfg-ass1/v17/Browse.VC.db
code/build/.vs/aipfg-ass1/v17/Browse.VC.opendb
code/.env
code/.env
code/.env
code/.env
code/build/.vs/aipfg-ass1/v17/ipch/AutoPCH/3a7910c3fe966273/OPENAI-HELPER.ipch
code/buildM/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
